.button-big {
  width: 100%;
  height: 45px;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  background-color: var(--palette-color-gray2);
  cursor: pointer;
}
.button-big:hover{
  box-shadow: var(--shadow-intensive2);
}
.button-small {
  width: 100%;
  height: 30px;
  padding: 4px 16px;
  border-radius: 16px;
  border: none;
  background-color: var(--palette-color-gray5);
  cursor: pointer;
}
.button-small:hover {
  box-shadow: var(--shadow-intensive4);
}