.input {
  width: 100%;
  height: 120px;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid var(--palette-color-gray2);
  box-sizing: border-box;
  outline: none;
  resize: none;
}
.input::placeholder {
  color: var(--palette-color-gray4);
}
.input:hover {
  box-shadow: var(--shadow-intensive2);
}
.input:focus {
  box-shadow: var(--shadow-intensive2);
}
.input-error {
  border-color: var(--palette-color-error2);
  box-shadow: var(--shadow-error-intensive2);
}
.input-error:hover {
  box-shadow: var(--shadow-error-intensive2);
}
.input-error:focus {
  box-shadow: var(--shadow-error-intensive2);
}
