.input {
  width: 100%;
  height: 120px;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid var(--palette-color-gray2);
  box-sizing: border-box;
  outline: none;
  resize: none;
}
.input::placeholder {
  color: var(--palette-color-gray4);
}
.input:hover {
  box-shadow: var(--shadow-intensive-1);
}
.input:focus {
  box-shadow: var(--shadow-intensive-1);
}
